[submodule "workspace/src/gazebo_ros2_control"]
	path = workspace/src/gazebo_ros2_control
	url = https://github.com/ros-controls/gazebo_ros2_control
	branch = humble
[submodule "workspace/src/py_binding_tools"]
	path = workspace/src/py_binding_tools
	url = https://github.com/moveit/py_binding_tools
	branch = ros2
[submodule "workspace/src/moveit_task_constructor"]
	path = workspace/src/moveit_task_constructor
	url = https://github.com/ros-planning/moveit_task_constructor.git
	branch = humble
