<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="length_bar" value="1" />    <!-- travel along X (m) -->
  <xacro:property name="thickness_bar" value="0.02" />    <!-- travel along X (m) -->
  <xacro:property name="width_bar" value="0.02" />    <!-- travel along X (m) -->
  <xacro:property name="mass_bar" value="1" />    <!-- travel along X (m) -->

  <!-- Macro for a bar -->
  <xacro:macro name="bar" params="name length width thickness">
    <link name="${name}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="${length} ${width} ${thickness}" />
        </geometry>
        <material name="gray">
          <color rgba="0.6 0.6 0.6 1.0" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="${length} ${width} ${thickness}" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="${mass_bar}" />
        <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0" />
      </inertial>
    </link>
  </xacro:macro>

  <!-- Macro for a fixed joint -->
  <xacro:macro name="fixed_joint" params="parent child xyz rpy">
    <joint name="${parent}_to_${child}" type="fixed">
      <parent link="${parent}" />
      <child link="${child}" />
      <origin xyz="${xyz}" rpy="${rpy}" />
    </joint>
  </xacro:macro>

  <xacro:macro name="prismatic_joint" params="parent child xyz rpy axis lower upper">
    <joint name="${parent}_to_${child}" type="prismatic">
      <parent link="${parent}" />
      <child link="${child}" />
      <origin xyz="${xyz}" rpy="${rpy}" />
      <axis xyz="${axis}" />
      <limit lower="${lower}" upper="${upper}" effort="100" velocity="1.0" />
    </joint>
  </xacro:macro>


  <!-- Base link -->
  <link name="map" />

  <!-- Bars + joints -->
  <xacro:bar name="leg1" length="${length_bar}" width="${width_bar}" thickness="${thickness_bar}" />
  <xacro:fixed_joint parent="map" child="leg1" xyz="0 0 ${length_bar/2}" rpy="0 -${pi/2} 0" />

  <xacro:bar name="leg2" length="${length_bar}" width="${width_bar}" thickness="${thickness_bar}" />
  <xacro:fixed_joint parent="map" child="leg2" xyz="-${length_bar} 0 ${length_bar/2}"
    rpy="0 -${pi/2} 0" />

  <xacro:bar name="layer1" length="${length_bar}" width="${width_bar}" thickness="${thickness_bar}" />
  <xacro:fixed_joint parent="map" child="layer1" xyz="-${length_bar/2} 0 ${length_bar}" rpy="0 0 0" />

  <xacro:bar name="layer2" length="${length_bar}" width="${width_bar}" thickness="${thickness_bar}" />
  <xacro:fixed_joint parent="map" child="layer2" xyz="-${length_bar} -${length_bar/2} ${length_bar}"
    rpy="0 0 -${pi/2}" />

  <xacro:bar name="leg3" length="${length_bar}" width="${width_bar}" thickness="${thickness_bar}" />
  <xacro:fixed_joint parent="map" child="leg3" xyz="-${length_bar} -${length_bar} ${length_bar/2}"
    rpy="0 -${pi/2} 0" />

  <xacro:bar name="layer3" length="${length_bar}" width="${width_bar}" thickness="${thickness_bar}" />
  <xacro:fixed_joint parent="map" child="layer3" xyz="0 -${length_bar/2} ${length_bar}"
    rpy="0 0 -${pi/2}" />

  <xacro:bar name="leg4" length="${length_bar}" width="${width_bar}" thickness="${thickness_bar}" />
  <xacro:fixed_joint parent="map" child="leg4" xyz="0 -${length_bar} ${length_bar/2}"
    rpy="0 -${pi/2} 0" />

  <xacro:bar name="layer4" length="${length_bar}" width="${width_bar}" thickness="${thickness_bar}" />
  <xacro:fixed_joint parent="map" child="layer4" xyz="-${length_bar/2} -${length_bar} ${length_bar}"
    rpy="0 0 0" />

  <xacro:bar name="xaxis" length="${length_bar}" width="${width_bar}" thickness="${thickness_bar}" />
  <xacro:prismatic_joint parent="map" child="xaxis"
    xyz="0 -${length_bar/2} ${length_bar + thickness_bar}"
    rpy="0 0 -${pi/2}"
    axis="0 1 0"
    lower="-${length_bar}" upper="0" />

  <!-- Make the below small the dimensions of ${width_bar} ${width_bar} ${width_bar} -->
  <xacro:bar name="yaxis" length="${width_bar}" width="${width_bar + width_bar + width_bar}"
    thickness="${width_bar}" />
  <xacro:prismatic_joint parent="xaxis" child="yaxis"
    xyz="-${width_bar + width_bar} -${width_bar} ${thickness_bar}"
    rpy="0 -${pi/2} 0"
    axis="0 0 1"
    lower="-${length_bar/2}" upper="${length_bar/2}" />


  <xacro:bar name="zaxis" length="${length_bar}" width="${width_bar}"
    thickness="${thickness_bar}" />
  <xacro:prismatic_joint parent="yaxis" child="zaxis"
    xyz="-${width_bar} -${width_bar} ${width_bar}"
    rpy="0 0 0"
    axis="1 0 0"
    lower="-${length_bar/2}" upper="${length_bar/2}" />

</robot>
