<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Macro: link + joint with configurable parameters -->
  <xacro:macro name="simple_link_with_joint" 
    params="name parent geom_type geom_size geom_length geom_radius
            link_origin_xyz link_origin_rpy 
            joint_type joint_origin_xyz joint_origin_rpy joint_axis
            limit_lower limit_upper limit_effort limit_velocity
            mass ixx iyy izz">

    <link name="${name}">
      <visual>
        <origin xyz="${link_origin_xyz}" rpy="${link_origin_rpy}" />
        <geometry>
          <xacro:if value="${geom_type == 'box'}">
            <box size="${geom_size}" />
          </xacro:if>
          <xacro:if value="${geom_type == 'cylinder'}">
            <cylinder length="${geom_length}" radius="${geom_radius}" />
          </xacro:if>
        </geometry>
      </visual>

      <collision>
        <origin xyz="${link_origin_xyz}" rpy="${link_origin_rpy}" />
        <geometry>
          <xacro:if value="${geom_type == 'box'}">
            <box size="${geom_size}" />
          </xacro:if>
          <xacro:if value="${geom_type == 'cylinder'}">
            <cylinder length="${geom_length}" radius="${geom_radius}" />
          </xacro:if>
        </geometry>
      </collision>

      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="${mass}" />
        <inertia ixx="${ixx}" iyy="${iyy}" izz="${izz}" ixy="0" ixz="0" iyz="0" />
      </inertial>
    </link>

    <joint name="${parent}_to_${name}" type="${joint_type}">
      <parent link="${parent}" />
      <child link="${name}" />
      <origin xyz="${joint_origin_xyz}" rpy="${joint_origin_rpy}" />
      <axis xyz="${joint_axis}" />
      <limit lower="${limit_lower}" upper="${limit_upper}" 
             effort="${limit_effort}" velocity="${limit_velocity}" />
    </joint>

  </xacro:macro>


  <!-- EEMount using the macro (cylinder) -->
  <xacro:simple_link_with_joint
    name="eemount"
    parent="zaxis"
    geom_type="cylinder"
    geom_size="" 
    geom_length="0.01"
    geom_radius="0.05"
    link_origin_xyz="0 0 0"
    link_origin_rpy="0 0 0"
    joint_type="revolute"
    joint_origin_xyz="-${length_bar/2 + width_bar} 0 0"
    joint_origin_rpy="0 ${pi/2} 0"
    joint_axis="0 0 1"
    limit_lower="-1.57"
    limit_upper="1.57"
    limit_effort="5"
    limit_velocity="1"
    mass="${mass_bar}"
    ixx="1.0" iyy="1.0" izz="1.0" />


  <!-- Left finger (box) -->
  <xacro:simple_link_with_joint
    name="left_finger"
    parent="eemount"
    geom_type="box"
    geom_size="0.02 0.1 0.02"
    geom_length="0" geom_radius="0"
    link_origin_xyz="0 0.05 0"
    link_origin_rpy="0 0 0"
    joint_type="revolute"
    joint_origin_xyz="0 0.05 0"
    joint_origin_rpy="-${pi/2} 0 0"
    joint_axis="0 0 1"
    limit_lower="-1.04"
    limit_upper="1.04"
    limit_effort="10"
    limit_velocity="0.1"
    mass="0.05"
    ixx="0.0001" iyy="0.0001" izz="0.0001" />

  <!-- Right finger (box) -->
  <xacro:simple_link_with_joint
    name="right_finger"
    parent="eemount"
    geom_type="box"
    geom_size="0.02 0.1 0.02"
    geom_length="0" geom_radius="0"
    link_origin_xyz="0 -0.05 0"
    link_origin_rpy="0 0 0"
    joint_type="revolute"
    joint_origin_xyz="0 -0.05 0"
    joint_origin_rpy="${pi/2} 0 0"
    joint_axis="0 0 1"
    limit_lower="-1.04"
    limit_upper="1.04"
    limit_effort="10"
    limit_velocity="0.1"
    mass="0.05"
    ixx="0.0001" iyy="0.0001" izz="0.0001" />

</robot>

