<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rectangular_gantry">


  <xacro:property name="length_leg" value="1" />    <!-- travel along X (m) -->
  <xacro:property name="thickness_leg" value="0.2" />    <!-- travel along X (m) -->
  <xacro:property name="width_leg" value="0.2" />    <!-- travel along X (m) -->
  <xacro:property name="mass_leg" value="1" />    <!-- travel along X (m) -->

  <link name="map" />
  <joint name="map_to_leg1" type="fixed">
    <parent link="map" />
    <child link="leg1" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>


  <link name="leg1">
    <visual>
      <origin xyz="0 0 0" rpy="0 -${pi/2} 0" />
      <geometry>
        <box size="${length_leg} ${width_leg} ${thickness_leg}" />
      </geometry>
      <material name="gray">
        <color rgba="0.6 0.6 0.6 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -${pi/2} 0" />
      <geometry>
        <box size="${length_leg} ${width_leg} ${thickness_leg}" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 -${pi/2} 0" />
      <mass value="${mass_leg}" />
      <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0" />
    </inertial>
  </link>


</robot>
